table{

    background: #234465;
    font: 16px Calibri;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-color: inherit;
}

#notifications span {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}
#notifications img {
    display: inline-block;
    vertical-align: top;

}

.dropdown-toggle{
    padding: 5px 7px 5px 7px;
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: none;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

form{
    margin: 0;
    padding: 0;
    vertical-align: top;
    float: left;

}
button{
    background-image: url(icon17.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid grey;
    height: 25px;
    width: 25px;

}
input[type=text]{
    height: 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding: 5px 0 5px 5px;
    float: left;
    vertical-align: bottom;
    margin-right: 0;
    width: 161px;
}

    nav ul li{
        list-style: none outside;
        position: relative;
        float: left;
        padding: 0 15px 0 15px;
    }

    nav ul li a{
        display: block;
        text-decoration: none;
        color: white;
    }
#width{
    width: 50%;
}
#img{
    padding: 10px 10px 10px 10px;
}
